{% extends "feedback/prof/base.html" %}
{% block home %} class="active" {% endblock %}
{% block main %}
<h2 class="page-header">Welcome, {{ full_name }}!</h2>

{% if courses %}
<p>Here below are the courses you're enrolled in.</p>
<table class="table table-striped" style="margin-top:20px;">
    <thead>
        <th>Courses</th>
        <th>Starting date</th>
        <th>Ending date</th>
    </thead>
    
    <tbody>
    {%for course in courses %}
        <tr>
            <td><a href="/feedback/{{ course.id }}/prof/course/">{{ course.name }}</a></td>
            <td>{{ course.starting_date }}</td>
            <td>{{ course.ending_date }}</td>
        </tr>
    {% endfor %}
    </tbody>  
</table>

{%else %}
    <p>It looks like there are no courses you have been allotted to</p>
    <p>Please contact the administrator for more details.</p>
{%endif %}

{% endblock %}
